


a {
    color: rgb(113, 140, 177)
}


header {
    position: fixed !important;
}


footer {
    position: fixed !important;
}


main {
    background: #E0E0E0 !important;
}

nav {
    position: fixed !important;
}


.max-height {
    height: 100%;
}


.outline-grey-ccc {
    outline : 1px solid #ccc !important;
}


