


a {
    color: rgb(113, 140, 177)
}


header {
    position: fixed !important;
}


footer {
    position: fixed !important;
}


nav {
    position: fixed !important;
}


.max-height {
    height: 100%;
}


.outline-grey-ccc {
    outline : 1px solid #ccc !important;
}

#group-chat-header-descriptor {
    box-shadow: 5px 5px 4px #222;
    background: white;
    position: fixed;
    z-index: 166;
    border-radius: 6px;
    display: none;
}


.v-field__input {
    margin-top: 10px !important;
}


.settings-profile-photo-upload-hover {
    background: rgba(70, 70, 70, 0.8);
}


.v-hover--reveal {
    align-items: center;
    justify-content: center;
    width: 100%;
}
